li {
    list-style: none;
    display: inline;
    margin-right: 50px;   
}

.logo {
    height: 250px;
    width: 300px;
}

.cartWidget {
  display: flex;
  flex-direction: row;
  align-content: center;
 }

